*
{
    margin:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body
{
    background-color: rgb(32, 32, 32);
}

nav
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 8vh;
    background-color: black;
    padding: 0px 30px;
}

#logo
{
    width: 100px;
}

.btnNav
{
    color: white;
    transition: 0.1s;
}

.btnNav:hover
{
    color:rgb(250, 96, 255);
    transition: 0.1s;
}

#reproductor
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

a
{
    text-decoration: none;
    color: white;
}

iframe
{
    width: 80vw;
    height: 45vw;
}

#botones
{
    display: flex;
    gap: 10px;
}

#botones>button
{
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color:white;
    transition: 0.5s;
    height: 30px;
    background: linear-gradient(rgb(255, 0, 255),rgb(204, 173, 255));
    box-shadow: 5px 5px 20px rgb(255, 0, 255);
    cursor: pointer;
}

#botones>button:hover
{
    background: white;
    color: black;
    box-shadow: 5px 5px 20px white;
}

#botones>button:active
{
    color: rgb(255, 0, 255);
    transition: 0.1s;
}

h1
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    font-size: 30px;
    color: white;
}